.nav {
    grid-area: n;
    background-color: rgba(0, 87, 128, 0.356);
    padding: 15px;
}

.item a {
    color: white;
    text-decoration: none;
}

.item a.active {
    color: rgb(41, 41, 41);
    font-weight: 600;
}
