ul li {
  list-style-type: georgian;
}

.site-wrapper {
  margin: 0 auto;
  width: 1140px;
  display: grid;
  grid-template-rows: 60px 10fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h"
  "n c";
  /* grid-gap: 10px; */
}

.header {
  grid-area: h;
  background-color: red;
  padding: 5px;
}

.header img {
  height: 50px;
  width: 80px;
}

.nav {
  grid-area: n;
  background-color: green;
}

.content {
  grid-area: c;
  background-color: lightblue;
}

.content div img {
  width: 100%;
}

